- provide(:title, 'Home')
.my-home
  h2
    | Добро пожаловать на Ruby programmer блог.
  h3
    |  Зарегистрируйся сейчас и напиши свою первую статью. Этот блог посвящен вопросам разработки на Ruby, Ruby on Rails. 
  br
  br
  - if current_user
    = link_to "Создать статью", new_article_path , class: "btn btn-large btn-info"
  - else
    = link_to "Создать статью", signin_path , class: "btn btn-large btn-info"
  br
.row
  - @articles.each do |article|
    span
      | This article created at 
      = article.created_at.strftime("%B, %D, %Y")
      |  by 
      = article.user.name
    p
    h4
      = article.title
    p
      = article.text
    p
      = image_tag article.image.url(:thumb)
    p
      = link_to 'Show', article_path(article) 
      - if current_user 
       = link_to favourite_article_path(article), id: "article_#{article.id}", class: favourite_post(article), remote: true do
          i.fa.fa-heart
  .row
    center
      = paginate @articles
