.row
  .col-md-4.col-md-offset-4
    = form_for(:session, url: sessions_path) do |f|
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.submit "Sign in", class: "btn btn-large btn-primary"
    p
      | New user? 
      = link_to "Sign up now!", new_user_path
