Добро пожаловать в Ruby-programmer
===============================================
 
Вы только что зарегестировались на нашем портале
Это пароль от Вашего аккаунта
<%= @user.password %>
Есди хотите изменить пароль кликни по сслылке <%= edit_user_url(@user) %>
 
Желаем Вам хорошего дня!