doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Добро пожаловать в Ruby-programmer
    p
      | Это пароль от Вашего аккаунта: 
      h2
       | Твой пароль
       br
      h3
        = @user.password
      br
    p
      h3
       | Если Вы желаете поменять пароль кликните по ссылку 
       = link_to "Изменить пароль", edit_user_url(@user) 
    p
      | Желаем Вам хорошего дня!!!
