Добро пожаловать на Ruby-programmer, <%= @user.name %>
===============================================
 
Вы только что зарегистрировались на нашем портале,
Ваше имя: <%= @user.name %>.
 
Чтобы перейти на сайт кликните по этой ссылке:<%= user_url(@user) %>
 
Желаем Вам хорошего дня!