doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Добро пожаловать в Ruby-programmer, 
      = @user.name
    p
      |  Вы только что зарегестировались на нашем портале. Вот Ваше Имя: 
      = @user.name
      | .
      br
      |  Чтобы перейти на сайт нажмите на ссылку: 
      = link_to 'Мой профиль', @user
      | . 
    p
      | Желаем Вам хорошего дня!
