- provide(:title, 'Articles list')
h1
  | List of articles
.row
  center
    = link_to 'New article', new_article_path, class:'btn btn-info'
.col-md-8.col-md-offset-2
  table.table
    thead
      tr
        th
          | Title
        th
          | Text
        th
          | Action
        th
          | Category
    - @articles.each do |article|
      |  <tr id = 
      = "article_#{article.id}"
      | > 
      td
        = article.title
      td
        = article.text
      td
        = link_to 'Delete', admin_article_path(article), class:'btn btn-info',
                            method: :delete,
                            remote: true,
                            data: { confirm: 'Are you sure?' }
        = link_to 'Show ', article_path(article)
      td
        - article.categories.each do |category|
          b
            = category.name
      
