.row
  .col-md-8.col-md-offset-2
    = form_for @article do |f|
      - if @article.errors.any?
        #error_explanation
          h2
            = pluralize(@article.errors.count, "error")
            |  prohibited this article from being saved: 
          ul
            - @article.errors.full_messages.each do |msg|
              li
                = msg
      = f.label :title
      = f.text_field :title
      = f.label :text
      = f.text_area :text
      = f.label :image
      = f.file_field :image
      =f.label :category_ids
      =f.collection_check_boxes :category_ids, Category.all, :id, :name
      br
      = f.submit "Create my article", class: "btn btn-primary"
