- provide(:title, 'Articles list')
h1
  | Listing articles
.row
  center
    = link_to 'New article', new_article_path(current_user), class:'btn btn-lg btn-info'
    - @articles.each do |article|
      p
      h2
        | Title
      p
        = article.title
      p
      h2
        | Text
      p
        = article.text
      p
        = image_tag article.image.url(:medium)
      .categories
        h4
          | Category:
        - article.categories.each do |category|
          b
            = category.name
      br
      = link_to 'Show', article_path(article)
      - if article.user == current_user
        = link_to 'Edit', edit_article_path(article)
        = link_to 'Destroy', article_path(article),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }
.row
  center
    = paginate @articles
