- provide(:title, @article.title)
center
  .row
    .col-md-6.col-md-offset-3
      p
        b
          |  Количество просмотров 
          = @article.page_views
      h4
        | Title:
      p
        = @article.title
      h4
        | Text:
      p
        = @article.text
      .categories
        h4
          | Category:
        - @article.categories.each do |category|
          b
            =category.name
      p
        = image_tag @article.image.url(:medium)
      - if @article.user == current_user
        = link_to 'Edit', edit_article_path
        |  | 
        = link_to 'Back', root_path
      - else
        = link_to 'Back', root_path
      br
    .row
      .col-md-4.col-md-offset-4
        h3
          = @article.comments.count
          |  Comments
        = render @article.comments
        - if current_user
          h4
            | Add a comment:
          = render 'comments/form'
