doctype html
html
  head
    title
      =full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render 'shared/admin/header'
    .my-container.container
      = yield
    = render 'shared/admin/footer'
