.row
  .col-md-4.col-md-offset-4
    = form_for @user do |f|
      - if @user.errors.any?
        #error_explanation
          .alert.alert-error
            |  The form contains 
            = pluralize(@user.errors.count, "error")
            | . 
          ul
            - @user.errors.full_messages.each do |msg|
              li
                | * 
                = msg
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation
      = f.label :avatar
      = f.file_field :avatar
      = f.submit "Create my account", class: "btn btn-large btn-primary"
