- provide(:title, "Edit user")
h1
  | Update your profile
.row
  .col-md-4.col-md-offset-4
    = form_for current_user do |f|
      = render 'shared/error_message'
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation
      = f.label :change_image
      = f.file_field :avatar
      = f.submit "Save changes", class: "btn btn-large btn-primary"
