- provide(:title, 'List of Users')
h1
  |  Список пользователей
ul.users
  - @users.each do |user|
    li
      =image_tag user.avatar.url(:thumb)
      = link_to user.name, user_path(user)
.row
  center
    = paginate @users
