- provide(:title, @user.name)
.row
  .col-md-4.col-md-offset-4
    center
      =image_tag @user.avatar.url(:medium)
    h1
      = @user.name
    center
      = link_to 'Create article', new_article_path, class:'btn btn-lg btn-info'
