footer.my-footer.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner
    .text-center
      nav
        ul.my-footnav.nav.navbar-nav
          li
            = link_to "О сервисе",   '#'
          li
            = link_to "Наши контакты", '#'
        ul.my-footnav.nav.navbar-nav.pull-right
          li
            = link_to 'auth/vkontakte' do
              | Регистрация через 
              i.fa.fa-vk.fa-2x