header.my-header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to root_path, id: "logo" do
        = image_tag "Logo2.png", alt: 'Ruby blogger'
      end
      nav
        ul.my-nav.nav.navbar-nav.pull-right
          li
            = link_to "Список пользователей", users_path
          - if current_admin
            li
              = link_to "Admin", admin_root_path
          li
          - if current_user
            li
              a.dropdown-toggle[href="#" data-toggle="dropdown"]
                |  Account 
                b.caret
              ul.header_menu.dropdown-menu
                li
                  = link_to "Profile", current_user
                li
                  = link_to "Update_profile", edit_user_path(current_user)
                li
                  = link_to "My_Article", articles_path(current: true)
                li.divider
                li
                  = link_to "Sign Out", signout_path, method: "delete", class: "btn btn-large btn-primary"
          - else
            li
              = link_to "Войти", signin_path
            li
              = link_to "Регистрация", new_user_path, class: "btn btn-large btn-primary"

