@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: Verdana, sans-serif;
    color: #424242;
    overflow: scroll-y;
}

/*header*/

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 14px;
    font-weight: bold;
    line-height: 1;
    color:#2ECCFA;
}
#logo:hover {
    text-decoration: none;
    color: white;
}   
.my-header .my-nav li a {
    color:#2ECCFA;
}
.my-header .my-nav li a:hover {color:white}
/*footer*/
.my-footer ul{
    margin-right: 70px;
}
.my-footer .my-footnav li a {
  color:#2eccfa
}
.my-footer .my-footnav li a:hover {color:white}
/*container*/
.my-container {
    margin-top: 100px;
    margin-bottom: 30px;
}
.my-container h1 {
    text-align: center;
    color: #424242
}
.my-container h4 {
    color: blue;
}
.my-container a{
    text-align: center;
}
.text-success, .text-muted {margin-left: 5px}
.my-container form {
    text-align: center;
}
.my-home {text-align: center;}

/*forms*/
input, textarea, select, .uneditable-input {
    border: 1px solid #2ECCFA;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: #f00;
}
#error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
}

.my-link {
    text-align: center;
}
/*dropdown menu*/
.my-header .my-nav .header_menu li a:hover {
    color:black;
}
/*my-article*/
.my-article {
    text-align: center;
}
.my-flash {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin-top:50px;
}
/*Users index */
.users {
  list-style: none;
  margin: 0;
}
.users li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #BDBDBD;
}
.users li:last-child {
      border-bottom: 1px solid black;
    }
.users li a {
    font-size:15px;
    margin-left: 5px
}
