- provide(:title, 'Admin List of Users')
h1
  | List of Users
.col-md-8.col-md-offset-2
  table.table
    thead
      tr
        th
          | Email
        th
          | Avatar
        th
          | Actions
    - @users.each do |user|
      |  <tr id = 
      = "user_#{user.id}"
      | > 
      td
        = user.email
      td
        =image_tag user.avatar.url(:thumb)
      td
        = link_to 'Delete', admin_user_path(user), class:'btn btn-info', method: :delete, remote: true
