header.my-header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to root_path, id: "logo" do
        = image_tag 'Logo2.png', alt: 'Ruby blogger'
      end
      nav
        ul.my-nav.nav.navbar-nav.pull-right
          li
            = link_to "List of Users", admin_users_path
          li
            = link_to "Back to site", root_url
          li
            = link_to 'All articles', admin_articles_path
