doctype html
html
  head
    title
      =full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/shim'
  body
    = render 'shared/header'
    .my-container.container
      = yield
      .my-flash.row
        .col-md-4.col-md-offset-4
          - flash.each do |name, msg|
            = content_tag :div, msg, id: 'flash_#{name}'
    = render 'shared/footer'
